<div class="center jumbotron">
<h2>HIKING WITH FRIENDS</h2>
<p>allowing people to get out in nature with other like-minded hikers</p>
</div>

<div id="welcome_img">
</div>

<h2><a href="/locations">Hike locations</h2>