    <div class="center jumbotron" style="background-color: #8FC1E3;">
        <h2>HIKING WITH FRIENDS</h2>
        <p>allowing people to get out in nature with other like-minded hikers</p>
        </div>

        <div id="welcome_img"></div>

        <div class="link_container">
        <%= link_to "Hike Locations", locations_path %>
        </div>
