* {
    font-family: 'Poppins', sans-serif;
}

#welcome_img {
    height: 1000px;
    width: 750px;
    background-image: url(waterfall.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.jumbotron {
    text-align: center;
} 
footer {
    display: inline-block;
}