* {
    font-family: 'Poppins', sans-serif;
    color: #5085A5; 
}
html, body {
    height: 100vh;
}

#welcome_img {
    height: 250px;
    width: 750px;
    background-image: image-url("AB_BNP_HikingBelowFayGlacier_2006-SG.jpg");
    background-size: contain;  
    background-repeat: no-repeat;
    margin: 0 auto;
}
.jumbotron {
    text-align: center; 
    background: #8FC1E3;

} 
.profile {
    display: flex;
    justify-content: space-around; 
}
#avatar {
    height: 250px;
    width: 350px;
}
#main_picture { 
    height: 250px;
    width: 250px;
}
.link_container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 70px;
}
#bottom_nav {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: slategrey;
    text-align: center;
}

#right-col p, #right-col img {
    width: 100%;
}