* {
    font-family: 'Poppins', sans-serif;
}

#welcome_img {
    height: 500px;
    width: 375px;
    background-image: url(waterfall.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.jumbotron {
    text-align: center;
} 
.profile {
    display: flex;
    justify-content: space-around; 
}
#avatar {
    height: 250px;
    width: 250px;
}
#main-picture.img-fluid { 
    max-width: 50%;
    height: auto; 
}